<header class="container">
    <div class="row align-items-start ">
      <div class="col-md-4 fs-6 mt-2">
        <p> Head office <br> 
          Tel. 22250250 <br> 
          Fax, 22250251 <br>
          P.O. Box 2220 , safat 13023 <br>
          State of Kuwait <br>
        </p>
      </div>
      <div class="second col-md-5">
        <div class="col fw-medium text-center mt-3">
          <h6>شركة تسهيلات الساير للتجارة العامة و المقاولات</h6>
          <hr> 
          <h6>Al sayer Facilities For Gen.Trd & Cont. Co.</h6>
          <hr>
          <h6>Customer Statement  &nbsp; كشف حساب الزبون</h6>
          <br>
          <h6 class="fw-bold">Date As  &nbsp; &nbsp; &nbsp; &nbsp; 15/02/2024</h6>
          
        </div>
      </div>
    </div>
  </header>
  <hr style="width: 92%; margin-left: 4%;">
