<div class="container text-center ">
    <div class="table">
      <table class="table table-bordered ">
        <thead>
          <tr>
            <th scope="col" class="col-sm-2 bg-body-secondary fw-bold">Name</th>
            <td colspan="4" scope="col">39035 ELECTRON CO.</td> 
            <th colspan="2" scope="col">C</th>
            <td colspan="4" scope="col"> شركه الالكترون للاجهزه الالكترونيه39035</td> 
            <th scope="col" class="col-sm-1 bg-body-secondary fw-bold ">الاسم </th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="col" class="col-sm-1 bg-body-secondary fw-bold">App.#</td>
                <td colspan="4" scope="col">1140006295</td> 
                <td scope="col" class="col-sm-1 bg-body-secondary fw-bold">الرقم</td>
                <td scope="col" class="col-sm-1 bg-body-secondary fw-bold">Type</td>
                <td colspan="4" scope="col">Fleet</td> 
                <td scope="col" class="col-sm-1 bg-body-secondary fw-bold"> النوع</td>
              </tr>
              <tr>
                <td scope="col" class="col-sm-1 bg-body-secondary fw-bold">Inv Date</td>
                <td colspan="4" scope="col"></td> 
                <td scope="col" class="col-sm-1 bg-body-secondary fw-bold">التاريخ</td>
                <td scope="col" class="col-sm-1 bg-body-secondary fw-bold">Inv.#</td>
                <td colspan="4" scope="col"></td> 
                <td scope="col" class="col-sm-1 bg-body-secondary">الفاتورة</td>
              </tr>
              <tr>
                <td scope="col" class="col-sm-1 bg-body-secondary fw-bold">Price</td>
                <td scope="col" class="col-sm-1 ">8250</td>
                <td scope="col" class="col-sm-1 bg-body-secondary fw-bold">السعر</td>
                <td scope="col" class="col-sm-1 bg-body-secondary fw-bold">Qty </td>
                <td scope="col" class="col-sm-1 "> 1</td>
                <td scope="col" class="col-sm-1 bg-body-secondary fw-bold">الكمية</td>
                <td scope="col" class="col-sm-1 bg-body-secondary fw-bold">Down</td>
                <td colspan="4" scope="col">1250</td> 
                <td scope="col" class="col-sm-1 bg-body-secondary fw-bold">المقدم</td>
              </tr>
              <tr>
                <td scope="col" class="col-sm-1 bg-body-secondary fw-bold">1st Inst. Date</td>
                <td colspan="4" scope="col">25/12/2022</td> 
                <td colspan="2" class="col bg-body-secondary fw-bold">تاريخ أول قسط</td> 
                <td scope="col" class="col-sm-1 bg-body-secondary fw-bold">Freq.</td>
                <td colspan="3" scope="col">36</td> 
                <td scope="col" class="col-sm-1 bg-body-secondary fw-bold"> الاقساط</td>
              </tr>
              <tr>
                <td scope="col" class="col-sm-1 bg-body-secondary fw-bold">Last Inst. Date</td>
                <td colspan="4" scope="col">25/11/2025</td> 
                <td colspan="2" class="col bg-body-secondary fw-bold">تاريخ أول قسط</td> 
                <td scope="col" class="col-sm-1 bg-body-secondary fw-bold">Model.</td>
                <td scope="col" class="col-sm-1 "> ISUZU</td>
                <td colspan="2" class="col-sm-1 "> 2022</td>
                <td scope="col" class="col-sm-1 bg-body-secondary fw-bold"> الموديل</td>
              </tr> 
              <tr>
                <td scope="col" class="col-sm-1 bg-body-secondary fw-bold">Total Amount</td>
                <td scope="col" class="col-sm-1 ">9533</td>
                <td colspan="3" scope="col"></td> 
                <td colspan="2" class="col bg-body-secondary fw-bold"> Clearance NO. </td> 
                <td scope="col" class="col-sm-1 bg-body-secondary fw-bold">Last Ins.</td>
                <td colspan="3" scope="col">258</td> 
                <td scope="col" class="col-sm-1 bg-body-secondary fw-bold"> اخر قسط</td>
              </tr>
              <tr>
                <td scope="col" class="col-sm-1 bg-body-secondary fw-bold">Monthly Inst.</td>
                <td scope="col" class="col-sm-1 ">265</td>
                <td colspan="3" scope="col"></td> 
                <td colspan="2" class="col bg-body-secondary fw-bold"> Closed Status</td> 
                <td scope="col" class="col-sm-1 bg-body-secondary fw-bold">Chassis</td>
                <td colspan="3" scope="col">PO6886</td> 
                <td scope="col" class="col-sm-1 bg-body-secondary fw-bold"> القاعدة</td>
              </tr>
              <tr>
                <td scope="col" class="col-sm-1 bg-body-secondary fw-bold">Plate اللوحه#</td>
                <td scope="col" class="col-sm-1 ">19/67095</td>
                <td colspan="3" scope="col">1</td> 
                <td colspan="2" class="col bg-body-secondary fw-bold"> Asset # </td> 
                <td scope="col" class="col-sm-1 bg-body-secondary fw-bold">Color</td>
                <td colspan="3" scope="col">White</td> 
                <td scope="col" class="col-sm-1 bg-body-secondary fw-bold"> اللون</td>
              </tr>
        </tbody>
      </table>
    </div>
  </div>
  