<div class="container text-center">
    <div class="table">
      <table class="table table-bordered">
      <thead>
          <tr>
            <td scope="col" class="col-sm-2 bg-body-secondary fw-bold">Trans Date</td>
            <td scope="col" class="col-sm-2 bg-body-secondary fw-bold">Trans Type</td>
            <td scope="col" class="col-sm-1 bg-body-secondary fw-bold">Method</td>
            <td colspan="2" class="col-sm-1 bg-body-secondary fw-bold">Trans# </td>
            <td scope="col" class="col-sm-1 bg-body-secondary fw-bold"> Inst#</td>
            <td scope="col" class="col-sm-1 bg-body-secondary fw-bold">Cr Amt</td>
            <td colspan="2" class="col bg-body-secondary fw-bold">Dr Amt</td> 
            <td colspan="3" class="col-sm-1 bg-body-secondary fw-bold">Balance</td>
          </tr>
      </thead>
      <tbody>
        <tr>
            <td scope="col" class="col-sm-2 bg-body-secondary fw-bold">تاريخ الحركة</td>
            <td scope="col" class="col-sm-2 bg-body-secondary fw-bold">نوع الحركة</td>
            <td scope="col" class="col-sm-2 bg-body-secondary fw-bold">طريقة الدفع</td>
            <td colspan="2" class="col-sm-1 bg-body-secondary fw-bold">الرقم</td>
            <td scope="col" class="col-sm-1 bg-body-secondary fw-bold">القسط</td>
            <td scope="col" class="col-sm-1 bg-body-secondary fw-bold">دائن</td>
            <td colspan="2" class="col bg-body-secondary fw-bold">مدين</td>
            <td colspan="3" class="col-sm-1 bg-body-secondary fw-bold">الرصيد</td> 
          </tr>
          <tr>
            <td scope="col" class="col-sm-2 "> 18/10/2022</td>
            <td scope="col" class="col-sm-2 ">Opening Balance</td>
            <td scope="col" class="col-sm-2 "></td>
            <td colspan="2" class="col-sm-1 "></td>
            <td scope="col" class="col-sm-1 "></td>
            <td scope="col" class="col-sm-1 ">0.000</td>
            <td colspan="2" class="col ">9533.000</td>
            <td colspan="3" class="col-sm-1 ">9533</td> 
          </tr>
          <tr>
            <td scope="col" class="col-sm-2 ">22/12/2022</td>
            <td scope="col" class="col-sm-2 ">Receipt payment</td>
            <td scope="col" class="col-sm-2 ">cheque</td>
            <td colspan="2" class="col-sm-1 ">1101117700</td>
            <td scope="col" class="col-sm-1 ">1</td>
            <td scope="col" class="col-sm-1 ">265.000</td>
            <td colspan="2" class="col ">0.000</td>
            <td colspan="3" class="col-sm-1 ">9268</td> 
          </tr>
          <tr>
            <td scope="col" class="col-sm-2 ">24/01/2023</td>
            <td scope="col" class="col-sm-2 ">Receipt payment</td>
            <td scope="col" class="col-sm-2 ">cheque</td>
            <td colspan="2" class="col-sm-1 ">1101123288</td>
            <td scope="col" class="col-sm-1 ">2</td>
            <td scope="col" class="col-sm-1 ">265.000</td>
            <td colspan="2" class="col ">0.000</td>
            <td colspan="3" class="col-sm-1 ">9003</td> 
          </tr>
          <tr>
            <td scope="col" class="col-sm-2 ">23/02/2023</td>
            <td scope="col" class="col-sm-2 ">Receipt payment</td>
            <td scope="col" class="col-sm-2 ">cheque</td>
            <td colspan="2" class="col-sm-1 ">1101129093</td>
            <td scope="col" class="col-sm-1 ">3</td>
            <td scope="col" class="col-sm-1 ">265.000</td>
            <td colspan="2" class="col ">0.000</td>
            <td colspan="3" class="col-sm-1 ">8738</td> 
          </tr>
          <tr>
            <td scope="col" class="col-sm-2 ">23/03/2023</td>
            <td scope="col" class="col-sm-2 ">Receipt payment</td>
            <td scope="col" class="col-sm-2 ">cheque</td>
            <td colspan="2" class="col-sm-1 ">1101134616</td>
            <td scope="col" class="col-sm-1 ">4</td>
            <td scope="col" class="col-sm-1 ">265.000</td>
            <td colspan="2" class="col ">0.000</td>
            <td colspan="3" class="col-sm-1 ">8473</td> 
          </tr>
          <tr>
            <td scope="col" class="col-sm-2 ">20/04/2023</td>
            <td scope="col" class="col-sm-2 ">Receipt payment</td>
            <td scope="col" class="col-sm-2 ">cheque</td>
            <td colspan="2" class="col-sm-1 ">1101139696</td>
            <td scope="col" class="col-sm-1 ">5</td>
            <td scope="col" class="col-sm-1 ">265.000</td>
            <td colspan="2" class="col ">0.000</td>
            <td colspan="3" class="col-sm-1 ">8208</td> 
          </tr>
          <tr>
            <td scope="col" class="col-sm-2 ">24/05/2023</td>
            <td scope="col" class="col-sm-2 ">Receipt payment</td>
            <td scope="col" class="col-sm-2 ">cheque</td>
            <td colspan="2" class="col-sm-1 ">1101145728</td>
            <td scope="col" class="col-sm-1 ">6</td>
            <td scope="col" class="col-sm-1 ">265.000</td>
            <td colspan="2" class="col ">0.000</td>
            <td colspan="3" class="col-sm-1 ">7943</td> 
          </tr>
          <tr>
            <td scope="col" class="col-sm-2 ">22/06/2023</td>
            <td scope="col" class="col-sm-2 ">Receipt payment</td>
            <td scope="col" class="col-sm-2 ">cheque</td>
            <td colspan="2" class="col-sm-1 ">1101151536</td>
            <td scope="col" class="col-sm-1 ">7</td>
            <td scope="col" class="col-sm-1 ">265.000</td>
            <td colspan="2" class="col ">0.000</td>
            <td colspan="3" class="col-sm-1 ">7678</td> 
          </tr>
          <tr>
            <td scope="col" class="col-sm-2 ">24/07/2023</td>
            <td scope="col" class="col-sm-2 ">Receipt payment</td>
            <td scope="col" class="col-sm-2 ">cheque</td>
            <td colspan="2" class="col-sm-1 ">1101156558</td>
            <td scope="col" class="col-sm-1 ">8</td>
            <td scope="col" class="col-sm-1 ">265.000</td>
            <td colspan="2" class="col ">0.000</td>
            <td colspan="3" class="col-sm-1 ">7413</td> 
          </tr>
          <tr>
            <td scope="col" class="col-sm-2 ">24/08/2023</td>
            <td scope="col" class="col-sm-2 ">Receipt payment</td>
            <td scope="col" class="col-sm-2 ">cheque</td>
            <td colspan="2" class="col-sm-1 ">1101162706</td>
            <td scope="col" class="col-sm-1 ">9</td>
            <td scope="col" class="col-sm-1 ">265.000</td>
            <td colspan="2" class="col ">0.000</td>
            <td colspan="3" class="col-sm-1 ">7148</td> 
          </tr>
          <tr>
            <td scope="col" class="col-sm-2 ">24/09/2023</td>
            <td scope="col" class="col-sm-2 ">Receipt payment</td>
            <td scope="col" class="col-sm-2 ">cheque</td>
            <td colspan="2" class="col-sm-1 ">1101168532</td>
            <td scope="col" class="col-sm-1 ">10</td>
            <td scope="col" class="col-sm-1 ">265.000</td>
            <td colspan="2" class="col ">0.000</td>
            <td colspan="3" class="col-sm-1 ">6883</td> 
          </tr>
          <tr>
            <td scope="col" class="col-sm-2 ">25/09/2023</td>
            <td scope="col" class="col-sm-2 ">Debit Return Chq</td>
            <td scope="col" class="col-sm-2 ">PDC`s</td>
            <td colspan="2" class="col-sm-1 ">1100047228</td>
            <td scope="col" class="col-sm-1 ">10</td>
            <td scope="col" class="col-sm-1 ">0.000</td>
            <td colspan="2" class="col ">265.000</td>
            <td colspan="3" class="col-sm-1 ">7148</td> 
          </tr>
          <tr>
            <td scope="col" class="col-sm-2 ">10/10/2023</td>
            <td scope="col" class="col-sm-2 ">Receipt payment</td>
            <td scope="col" class="col-sm-2 ">Online paym</td>
            <td colspan="2" class="col-sm-1 ">1101172104</td>
            <td scope="col" class="col-sm-1 ">10</td>
            <td scope="col" class="col-sm-1 ">265.000</td>
            <td colspan="2" class="col ">0.000</td>
            <td colspan="3" class="col-sm-1 ">6883</td> 
          </tr>
          <tr>
            <td scope="col" class="col-sm-2 ">26/10/2023</td>
            <td scope="col" class="col-sm-2 ">Receipt payment</td>
            <td scope="col" class="col-sm-2 ">Online paym</td>
            <td colspan="2" class="col-sm-1 ">1101175579</td>
            <td scope="col" class="col-sm-1 ">11</td>
            <td scope="col" class="col-sm-1 ">265.000</td>
            <td colspan="2" class="col ">0.000</td>
            <td colspan="3" class="col-sm-1 ">6618</td> 
          </tr>
          <tr>
            <td scope="col" class="col-sm-2 ">28/11/2023</td>
            <td scope="col" class="col-sm-2 ">Receipt payment</td>
            <td scope="col" class="col-sm-2 ">Online paym</td>
            <td colspan="2" class="col-sm-1 ">1101181958</td>
            <td scope="col" class="col-sm-1 ">12</td>
            <td scope="col" class="col-sm-1 ">265.000</td>
            <td colspan="2" class="col ">0.000</td>
            <td colspan="3" class="col-sm-1 ">6353</td> 
          </tr>
          <tr>
            <td scope="col" class="col-sm-2 ">26/12/2023</td>
            <td scope="col" class="col-sm-2 ">Receipt payment</td>
            <td scope="col" class="col-sm-2 ">Online paym</td>
            <td colspan="2" class="col-sm-1 ">1101187285</td>
            <td scope="col" class="col-sm-1 ">13</td>
            <td scope="col" class="col-sm-1 ">265.000</td>
            <td colspan="2" class="col ">0.000</td>
            <td colspan="3" class="col-sm-1 ">6088</td> 
          </tr>
          <tr>
            <td scope="col" class="col-sm-2 ">30/01/2024</td>
            <td scope="col" class="col-sm-2 ">Receipt payment</td>
            <td scope="col" class="col-sm-2 ">Online paym</td>
            <td colspan="2" class="col-sm-1 ">1101187285</td>
            <td scope="col" class="col-sm-1 ">14</td>
            <td scope="col" class="col-sm-1 ">265.000</td>
            <td colspan="2" class="col ">0.000</td>
            <td colspan="3" class="col-sm-1 ">5823</td> 
          </tr>
      </tbody>
      <tr class="border-none" style="border-bottom: none;">
        <td colspan="5" class="col-sm-2 border-none" ></td>
        <td scope="col" class="col-sm-1  fw-bold " style="border-bottom: 0.1px solid rgba(187, 186, 186, 0.852);">Total</td>
        <td scope="col" class="col-sm-1 bg-body-secondary pb-3 ">3975.000</td>
        <td colspan="2" class="col bg-body-secondary pb-3 ">9798.000</td>
      </tr>
    </table>
</div>